# فایل‌های محیطی و حاوی اطلاعات محرمانه
.env

# فایل‌های موقت و حافظه ربات (این فایل در گیت‌هاب اکشن ساخته و منتقل می‌شود)
sent_news.json
sent_news.txt

# فایل‌های سیستمی و لاگ‌ها
__pycache__/
*.pyc
*.log

# فایل‌های ادیتورها
.vscode/
.idea/
*.swp*.docx 
*.doc 
~$* 
.env 
*.key 
